:root {
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* Text colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --logo-black: #000000;

  /* Bg colors */
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;

  /* Others */
  --header-border: #ececec;
  --portfolio-border: 1px solid #eeeeee;
  --typical-margin: 50px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/*
  |============================
  | Header
  |============================
*/

.container.header {
  display: flex;
  align-items: center;
}
.page-header {
  border-bottom: 1px solid var(--header-border);
}
/*
  |============================
  | Logo
  |============================
*/

.logo {
  color: var(--logo-black);
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-accent {
  color: var(--accent-color);
}
/*
  |============================
  | Site nav
  |============================
*/

.nav{
  margin-left: 93px;
}
.site-nav {
  display: flex;  
}
.site-nav .item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item:not(:last-child) {
  margin-right: var(--typical-margin);
}
.auth-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}
/*
  |============================
  | Hero
  |============================
*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-color: var(--dark-background-color);
}

.hero-title {
  width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 216px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-align: center;
}
.button:hover,
.button:focus,
.button:active {
  background-color: #188ce8;
}
/*
  |============================
  | Advantages
  |============================
*/
.title {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list {
  display: flex;
}
.feature-list p {
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0;
}
.feature-item{
  flex-basis: calc((100% - 3*30px)/4);
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
/*
  |============================
  | Activity
  |============================
*/

.section.activity {
  padding-top: 0;
}
.section-title.activity {
  margin-bottom: var(--typical-margin);
}
.activity.list {
  display: flex;
}
.activity-item:not(:last-child) {
  margin-right: 30px;
}
.activity-item > img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*
  |============================
  | Our team
  |============================
*/

.our-team {
  background-color: var(--secondary-background-color);
}
.section-title.team {
  margin-bottom: var(--typical-margin);
}
.team.list {
  display: flex;
}
.team-item {
  text-align: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.team-member {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
}
.member.title {
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-transform: none;
}
.member.text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.18;
}
/*
  |============================
  | Footer
  |============================
*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background-color);
  color: var(--primary-white-color);
}
.logo-footer {
  color: var(--primary-white-color);
}
.logo.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  margin-top: 0;
  margin-bottom: 9px;

  font-style: normal;
}
.footer-list {
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
/*
  |============================
  | Portfolio
  |============================
*/

.filter-button {
  border-radius: 4px;
  padding: 6px 25px;
  min-width: 73px;

  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  border-color: transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}
.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: var(--typical-margin);
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-link > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-description {
  padding: 20px 24px;
  border-left: var(--portfolio-border);
  border-right: var(--portfolio-border);
  border-bottom: var(--portfolio-border);
}
.portfolio.title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}
.portfolio.text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
